a:link,
a:visited {
  color: black;
}

.screw {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 10px;
  position: relative;
  background-color: #ffffff;
}

.screw .header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: transparent;
}

.screw .hack-wrapper {
  position: relative;
  width: 31px;
  height: 31px;
}

.screw .hack {
  width: 31px;
  height: 31px;
  position: absolute;
  top: 0;
  left: 0;
}

.screw .frame {
  position: relative;
  width: 759.5px;
  height: 114.96px;
}

.screw .text-wrapper {
  position: absolute;
  width: 729px;
  top: -1px;
  left: 15px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 71px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.screw .div {
  position: absolute;
  width: 760px;
  top: 81px;
  left: 0;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24.9px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.screw .img {
  width: 30px;
  height: 31px;
  position: absolute;
  top: 0;
  left: 0;
}

.screw .top-NFTS {
  display: flex;
  height: 356px;
  align-items: center;
  justify-content: space-between;
  padding: 0px 80px;
  position: relative;
  align-self: stretch;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.screw .div-2 {
  display: flex;
  flex-direction: column;
  width: 226.74px;
  height: 355.55px;
  align-items: center;
  gap: 9px;
  position: relative;
}

.screw .text-wrapper-2 {
  position: relative;
  align-self: stretch;
  margin-top: -0.50px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 10.6px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.screw .img-2 {
  position: relative;
  width: 248.35px;
  height: 333.16px;
  margin-left: -9.18px;
  margin-right: -12.42px;
}

.screw .text-wrapper-3 {
  position: relative;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 10.6px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: underline;
}

.screw .paperclip-price {
  position: absolute;
  width: 211px;
  height: 49px;
  top: 264px;
  left: 8px;
}

.screw .text-wrapper-4 {
  position: absolute;
  width: 211px;
  top: -1px;
  left: 0;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 10.6px;
  letter-spacing: 0;
  line-height: normal;
}

.screw .text-wrapper-5 {
  position: absolute;
  width: 211px;
  top: 22px;
  left: 0;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 10.6px;
  letter-spacing: 0;
  line-height: normal;
}

.screw .div-3 {
  display: flex;
  flex-direction: column;
  width: 73px;
  min-width: 80px;
  height: 80.44px;
  align-items: center;
  gap: 9px;
  position: relative;
}

.screw .hor-screws {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 8.5px;
  opacity: 0.5;
}

.screw .the-screw {
  position: absolute;
  width: 8px;
  height: 8px;
  top: 0;
  left: 0;
  background-image: url(./img/hack-2.png);
  background-size: 100% 100%;
}

.screw .the-screw-2 {
  position: absolute;
  width: 8px;
  height: 8px;
  top: 0;
  left: 21px;
  background-image: url(./img/hack-13.png);
  background-size: 100% 100%;
}

.screw .the-screw-3 {
  position: absolute;
  width: 8px;
  height: 8px;
  top: 0;
  left: 43px;
  background-image: url(./img/hack-17.png);
  background-size: 100% 100%;
}

.screw .the-screw-4 {
  position: absolute;
  width: 8px;
  height: 8px;
  top: 0;
  left: 64px;
  background-image: url(./img/hack-7.png);
  background-size: 100% 100%;
}

.screw .text-wrapper-6 {
  position: relative;
  align-self: stretch;
  height: 40.94px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 39.3px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.screw .the-screw-5 {
  position: absolute;
  width: 8px;
  height: 8px;
  top: 0;
  left: 0;
  background-image: url(./img/hack-5.png);
  background-size: 100% 100%;
}

.screw .the-screw-6 {
  position: absolute;
  width: 8px;
  height: 8px;
  top: 0;
  left: 21px;
  background-image: url(./img/hack-18.png);
  background-size: 100% 100%;
}

.screw .the-screw-7 {
  position: absolute;
  width: 8px;
  height: 8px;
  top: 0;
  left: 43px;
  background-image: url(./img/hack-6.png);
  background-size: 100% 100%;
}

.screw .the-screw-8 {
  position: absolute;
  width: 8px;
  height: 8px;
  top: 0;
  left: 64px;
  background-image: url(./img/hack.png);
  background-size: 100% 100%;
}

.screw .text-wrapper-7 {
  position: relative;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 10.6px;
  letter-spacing: 0;
  line-height: normal;
}

.screw .screwed-NFT {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 17px;
  padding: 0px 80px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.screw .img-wrapper {
  position: relative;
  width: 8.5px;
  height: 8.5px;
  transform: rotate(-180.00deg);
}

.screw .hack-2 {
  width: 8px;
  height: 8px;
  transform: rotate(180.00deg);
  position: absolute;
  top: 0;
  left: 0;
}

.screw .trade-the-NFT-above {
  position: relative;
  align-self: stretch;
  height: 108.5px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.screw .p {
  position: relative;
  align-self: stretch;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 10.6px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.screw .robot-tile-and-price {
  position: relative;
  width: 431.5px;
  height: 311.55px;
}

.screw .overlap-group {
  position: relative;
  width: 432px;
  height: 333px;
  top: -9px;
  background-image: url(./img/robot-tile.png);
  background-size: 100% 100%;
}

.screw .price {
  position: relative;
  width: 211px;
  height: 47px;
  top: 274px;
  left: 108px;
  overflow: hidden;
}

.screw .text-wrapper-8 {
  position: absolute;
  width: 211px;
  top: 20px;
  left: 0;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 10.6px;
  letter-spacing: 0;
  line-height: normal;
}

.screw .text-wrapper-9 {
  position: relative;
  align-self: stretch;
  height: 46px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 38px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.screw .next-steps {
  justify-content: center;
  gap: 12px 35px;
  padding: 0px 60px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  position: relative;
}

.screw .div-4 {
  width: 328px;
  gap: 17px 7px;
  padding: 0px 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  position: relative;
}

.screw .ver-screws {
  position: relative;
  width: 37px;
  height: 24px;
  background-color: #ffffff;
  transform: rotate(-180.00deg);
}

.screw .the-screw-9 {
  position: absolute;
  width: 8px;
  height: 8px;
  top: 8px;
  left: 0;
}

.screw .the-screw-10 {
  position: absolute;
  width: 8px;
  height: 8px;
  top: 8px;
  left: 14px;
}

.screw .the-screw-11 {
  position: absolute;
  width: 8px;
  height: 8px;
  top: 8px;
  left: 28px;
}

.screw .text-wrapper-10 {
  position: relative;
  width: 252px;
  height: 23.5px;
  margin-top: -1.00px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.screw .div-5 {
  position: relative;
  flex: 1;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.screw .span {
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
}

.screw .text-wrapper-11 {
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
}

.screw .text-wrapper-12 {
  position: relative;
  width: 1021px;
  height: 46px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 38px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.screw .FAQ {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 61px 61px;
  padding: 0px 60px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.screw .why-paperclip {
  display: flex;
  flex-direction: column;
  width: 490px;
  align-items: flex-start;
  gap: 16px;
  padding: 0px 10px;
  position: relative;
}

.screw .text-wrapper-13 {
  position: relative;
  align-self: stretch;
  height: 26.01px;
  margin-top: -1.00px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.screw .in-july-kyle {
  position: relative;
  align-self: stretch;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.screw .a-celestial {
  position: relative;
  align-self: stretch;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.screw .text-wrapper-14 {
  color: #000000;
}

.screw .text-wrapper-15 {
  color: #c5c5c5;
}

.screw .footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: transparent;
}

.screw .by-acceptance {
  position: relative;
  width: 348px;
  height: 23.97px;
}

.screw .overlap-group-2 {
  position: relative;
  height: 23px;
  top: -1px;
}

.screw .text-wrapper-16 {
  position: absolute;
  width: 348px;
  top: 0;
  left: 0;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #c5c5c5;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.screw .accepted {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 5px;
  left: 44px;
}

.screw .satellites {
  position: fixed;
  width: 699px;
  height: 157px;
  top: 75%;
  right: 50px;
}
